.main-header {
    display: flex;
    justify-content: center;

    a {
        display: block;
        margin: 15px;
    }
    
}
.navbar-brand {
    text-transform: uppercase;
    font-family: impact;
}

